/* caseStatusBlocks.css */
.status-block {
    padding: 1rem;
    border-radius: 0.25rem;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.status-block lightning-icon {
    margin-bottom: 0.5rem;
}

.days-open {
    transition: background-color 0.3s ease;
}

.case-status {
    transition: background-color 0.3s ease;
}

.escalation {
    transition: background-color 0.3s ease;
}

.status-block.custom-warning {
    background-color: #FFA726;  /* Custom orange */
    color: white;
}